.contact{
  margin: -600px auto 100px;
  padding: 20px;
  border-radius: 8px;
  width: 630px;
}

.contact__title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #8b4513;
}

.contact__description {
  text-align: center;
  color: #666;
}


.contact__social {
    border-top: 1px solid #d6b666;
  display: flex;
  margin: 40px auto 0;
  padding: 30px 0 0;
  justify-content: space-between;
  width: 333px;
  height: 41px;
}
