.contact {
  margin: -150px auto 100px;
  padding: 20px;
  border-radius: 8px;
  max-width: 630px;
}

.contact__title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #8b4513;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact__description {
  text-align: center;
  color: #666;
  font-size: 16px;
  margin-bottom: 30px;
}

.contact__social {
  border-top: 1px solid #d6b666;
  display: flex;
  margin: 40px auto 0;
  padding: 30px 0 0;
  justify-content: space-around;
  max-width: 333px;
}

@media (min-width: 768px) {
  .contact {
    margin: 0 auto 100px;
    padding: 30px;
  }

  .contact__title {
    font-size: 28px;
  }

  .contact__description {
    font-size: 18px;
  }

  .contact__social {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .contact {
    margin: 0 auto 100px;
    padding: 40px;
    max-width: 800px;
  }

  .contact__title {
    font-size: 32px;
  }

  .contact__description {
    font-size: 20px;
  }

  .contact__social {
    max-width: 100%;
  }
}
