.header__hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__hero__text{

}

.header__hero__text__title {
  color: #734814;
  font-family: Allura;
  font-size: 44px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
}
.header__hero__text__description {
  color: #734814;
  font-family: Josefin Sans;
  font-size: 32px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
}
.hader__hero__image {
  width: 876.47px;
  height: 871px;
  top: 100px;
  left: 565.63px;
  gap: 0px;
  opacity: 0px;
}
