.header__hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__hero__text__title {
  color: #734814;
  font-family: Allura;
  font-size: 44px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
}
.header__hero__text__description {
  color: #734814;
  font-family: Josefin Sans;
  font-size: 32px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
}
.header__hero__image {
  width: 876.47px;
  height: 871px;
}
.header__hero__btn{
  display: flex;
  gap: 30px;
}
.header__hero__text__button{
  width: 136px;
height: 40px;
padding: 10px;
gap: 10px;
border-radius: 10px;
background: #296D65;
color: #fff;
cursor: pointer;
}
.header__hero__text__button-contato{
  border: 1px solid #1E403C;
  width: 177px;
height: 40px;
padding: 10px;
gap: 10px;
border-radius: 10px;
background-color: #fff;
cursor: pointer;
}