@import url(../vendor/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display =trocar");
.page {
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  flex-direction: column;
}
.logo__cursos {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 40%;
}
