.cursos {
  margin: 50px 0;
  padding: 0 15px;
}

.cursos__title {
  width: 100%;
  font-family: Josefin Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  color: #734814;
  margin: 0 0 30px;
}

.cursos__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.curso {
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.curso_title {
  width: 100%;
  font-family: Josefin Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  color: #734814;
}

.curso_decription {
  width: 100%;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  color: #734814;
  margin: 10px 0 0;
}

.curso_btn {
  width: 100%;
  max-width: 380px;
  height: auto;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  background: #296d65;
  color: #fff;
  cursor: pointer;
  margin: 20px 0 0;
}

@media (min-width: 768px) {
  .cursos {
      margin: 100px 0 50px;
  }

  .cursos__title {
      width: 454px;
      font-size: 32px;
      text-align: left;
      margin: 0 0 50px;
  }

  .cursos__container {
      flex-direction: row;
      justify-content: center;
      gap: 50px;
      max-width: 1200px; /* Define largura máxima para centralizar e espaçar os cursos */
      margin: 0 auto; /* Centraliza os cursos */
  }

  .curso {
      max-width: 350px;
      padding: 0;
  }

  .curso_title {
      width: 100%; /* Ajusta a largura do título */
      font-size: 32px;
      text-align: left;
  }

  .curso_decription {
      width: 100%; /* Ajusta a largura da descrição */
      font-size: 16px;
      text-align: left;
  }

  .curso_btn {
      width: 100%;
      max-width: 350px; /* Ajusta a largura do botão */
      margin: 37px 0 0;
  }
}
@media (min-width: 1024px) {
  .cursos {
    margin: 100px 0 50px;
  }

  .cursos__title {
    width: 454px;
    font-size: 32px;
    text-align: left;
    margin: 0 0 50px;
  }

  .cursos__container {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .curso {
    max-width: 500px;
    padding: 0;
  }

  .curso_title {
    width: 100%;
    font-size: 32px;
    text-align: left;
  }

  .curso_decription {
    width: 100%;
    font-size: 16px;
    text-align: left;
  }

  .curso_btn {
    width: 100%;
    max-width: 350px;
    margin: 37px 0 0;
  }
}
