.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 120px;
  background-color: #ffffff;
  border-bottom: 2px solid #d6b666;
  padding: 0 15px;
  overflow-x: hidden;
}

.logo {
}

.header__nav__menu {
  list-style-type: none;
  display: none;
  gap: 20px;
  padding: 15px 0;
}

.nav__btn {
  height: 42px;
  width: 150px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background: conic-gradient(
      from 180deg at 50% 50%,
      #FFD770 -64.8deg,
      #CE980F 118.8deg,
      #FFD770 295.2deg,
      #CE980F 478.8deg
  );
  border: 1px solid;
  border-image-source: conic-gradient(
      from 180deg at 50% 50%,
      #ffd770 -64.8deg,
      #ce980f 118.8deg,
      #ffd770 295.2deg,
      #ce980f 478.8deg
  );
  border-image-slice: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px 15px;
}

@media (min-width: 768px) {
  .nav {
      height: 120px;
      padding: 0 30px;
      width: 90%;
  }

  .header__nav__menu {
      display: flex;
      align-items: center;
      gap: 30px;
      padding: 0;
  }

  .nav__btn {
      width: 170px;
      font-size: 18px;
      padding: 15px;
  }
}

@media (min-width: 1024px) {
  .nav {
      height: 120px;
  }

  .header__nav__menu {
      display: flex;
      gap: 30px;
      padding: 0;
  }

  .nav__btn {
      width: 200px;
      font-size: 20px;
      padding: 15px 20px;
  }
}
