.servicos{
  margin: 100px 0 0 0;
}
.servico__item {
  background: #1d3e3b;
  width: 274px !important;
  height: 100.6px !important;
  padding-bottom: 20px;
  margin: 10px 10px 50px;
  border-radius: 12px;
}
.servico__item_container {
  color: #fffcf5;
  margin: 0 0 0 15px;
  width: 220px;
  height: 80px;
}
.servico__item_contain {
  display: flex;
  justify-content: space-between;
}
.servico__item_title {
  height: 20px;
  font-family: Inter;
  font-size: 20.43px;
  font-weight: 400;
  line-height: 32.69px;
  text-align: left;
}
.servico__item_text {
  height: 33px;
  font-family: Inter;
  font-size: 20.43px;
  font-weight: 300;
  line-height: 32.69px;
  text-align: left;
}
.servicos__title {
  width: 222px;
  height: 32px;
  top: 132px;
  left: 106px;
  gap: 0px;
  opacity: 0px;
  font-family: Josefin Sans;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #734814;
}
.servicos__decription {
  width: 748px;
  height: 104px;
  top: 196px;
  left: 106px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
  color: #734814;
}
